
.mainbody
{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 5rem;
    margin-left: 21rem;
    border-radius: 5px;
    border-color: #E9EBEE;
    border-width: 1px;
}
.main_contain
{
display: flex;
flex-direction: column;
margin: 15px;
margin-top: none;
padding: 16px;
text-align: left;
}
.text
{
margin-left: 10px;
}
.line
{
height: 1px;
width: 35rem;
background-color: #E9EBEE;
}
.para
{
font-weight:200;
margin-left: 10px;
}
.inputbox
{
width: 100%;
}
.inputbox-contain
{
width: 80%;
margin: 15px;
padding: 8px;
}
.cancel
{
    /* display: flex; */
/* justify-content: ; */
text-align: center;
height:1.6rem;
background-color: #E4E6EB;
width: 15%;
margin-left: 26rem;
margin-top: 20px;
border-radius: 2px;
}