body
{
    background-color:#F2F4F7 ;
}
.main
{
    display: flex;
    flex-direction: row;
    margin: 10rem;
    margin-left: 15px;
    gap: 10rem;
/* align-items: center; */
   justify-content: center; 
   
  
}
.sidebar
{
    display: flex;
    flex-direction: column;
text-align: left;
padding: 10px;
 margin-top: 50px;
   width: 20rem;

}
.facebookt
{
    color: #0866FF;
    font-size: 4rem;
    font-weight: bolder;
}
.para
{
   font-size: 15px;
   
   font-weight: bold;
   text-align: left;
   color: #331E21;
}

.body
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding: 6px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
    /* margin: 20px; */
    
height: 20rem;
width: 20rem;
    

}
.container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 6px;
   
    /* margin-top: 1px; */
   
}
.info
{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.input
{
    
width:19rem ;
    height: 2rem;
    border-radius: 8px ;
    border-color:#F4F4F4 ;
border-width:1px ;
background-color: #FFFFFF;
font-size: 18px;
}
.input:hover
{
    border-color: #0866FF;
}

.button
{
    width:19rem ;
    height: 2rem;
    border-radius: 8px ;
    border: none;
    /* border-color:hsl(217, 100%, 52%) ; */
border-width:1px ;
background-color: #0866FF;
color: #FFFFFF;
font-size: 18px;
}
 .password{
margin-left: 5rem;
 }

.forgetpassword
{

    color: #0866FF;;
    /* border: none; */
    width:15rem ;
    height: 2rem;
    border-color:#F4F4F4 ;
    border-width:1px ;
    border-radius: 8px ;
}

.account
{
    width:14rem ;
    height: 2.5rem;
    border-radius: 8px ;
  border: none;
background-color:#42B72A; 
color: #FFFFFF;
margin-left: 3rem;
text-align: center;
/* justify-content: center; */
font-size: 17px;
}